body {
  height: 2000px;
}

.note {
  position: absolute;
  z-index: 1000;

  padding: 5px;
  border: 1px solid black;

  background: white;

  text-align: center;
  font: italic 14px serif;
}

blockquote {
  display: inline-block;
  margin: 0 0 0 100px;
  padding: 0.5em 10px;
  border-left: 10px solid #ccc;

  quotes: "\201C""\201D""\2018""\2019";
  white-space: pre;

  background: #f9f9f9;
}

blockquote:before {
  content: open-quote;

  margin-right: 0.25em;
  vertical-align: -0.4em;

  color: #ccc;
  font-size: 4em;
  line-height: 0.1em;
}
